@model SearchResultsViewModel

@{
    ViewData["Title"] = "Search Results";
}

<h2>@ViewData["Title"] for "@Model.SearchTerm"</h2>

<h3>Users</h3>
@if(Model.Users == null || Model.Users.Count() == 0)
{
    <h4>No users found!</h4>
}
else
{
    <ul>
        @foreach (var user in Model.Users)
        {
            <li>
                <a asp-controller="Account" asp-action="UserInfo" asp-route-id="@user.Id">@user.Username</a>
            </li>
        }
    </ul>
}

<h3>Courses</h3>
@if (Model.Courses == null || Model.Courses.Count() == 0)
{
   <h4>No courses found!</h4>
}
else
{
    <ul>
        @foreach (var course in Model.Courses)
        {
            <li>
                <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">@course.Name</a>
            </li>
        }
    </ul>
}

